/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 mai 2016, 16:54:57
    Author     : Sub.Session
*/

header#page_header{
    nav{
        margin: 25px 0 10px 0;
        ul{
            font-weight: bold;
            display: inline;
            li{
                display: inline;
            }
            &#connexion{
                float: right;
                a {
                    padding: 10px;
                    background-color: red;
                    border: 2px solid white;
                    color: white;
                    
                    &#dashbord{
                        background-color: #3FBFBF;
                    }
                }
            }
            &#navigation{
                float: left;
                a {
                    padding: 10px;
                    border: 1px solid red;
                    color: red;
                }
            }
        }
    }
}

section#page_content{
    position: relative;
    top: 30px;
    border-top: 1px solid red;
    
    main#main_content{
        
    }
}

footer#page_footer{
    position: relative;
    top: 30px;
    border-top: 1px solid red;
    padding: 14px 0 10px 0;
    margin: 10px 0 0 0;
    
    ul{
        text-align: center;
        li{
            display: inline;
            padding: 5px;
            border-right: 1px solid red;
            
            &:last-child{
                border-right: 0;
            }
        }
    }
}

aside#sidebar{
    position: relative;
    top: 30px;
    border-top: 1px solid red;
    padding-top: 20px;
    
    ul{
        list-style: none;
        margin: 0 0 25px 25px;
        
        &#category{
            text-transform: uppercase;
            li{
                line-height: 25px;
                &:before{
                    content: '';
                    padding: 2px;
                    background-color: red;
                    border-right: 5px solid white;
                }
                color: red;

                &:hover{
                    color: blue;
                }
            }
        }

        &#la_une li{
            figure{
                #image_la_une{
                    padding: 20px;
                    background-color: #EB79EB;
                    margin-bottom: 15px;
                }
            }
        }
    }
}
