/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 mai 2016, 16:54:57
    Author     : Sub.Session
*/

header#page_header{
    nav{
        margin: 25px 0 10px 0;
        ul{
            font-weight: bold;
            display: inline;
            li{
                display: inline;
            }
            &#connexion{
                float: right;
                a {
                    padding: 10px;
                    background-color: red;
                    border: 2px solid white;
                    color: white;
                    
                    &#dashbord{
                        background-color: #3FBFBF;
                    }
                }
            }
            &#navigation{
                float: left;
                a {
                    padding: 10px;
                    border: 1px solid red;
                    color: red;
                }
            }
        }
    }
}

section#page_content{
    position: relative;
    top: 30px;
    border-top: 1px solid red;
    
    main{
        article{
            width: 295px;
            border: 1px solid #8888DC;
            min-height: 300px;
            margin: 0 0 20px 0;
            display: inline-block;
            
            h2{
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 111111111;
                position: absolute;
                width: 230px;
                height: 50px;
                font-size: 25px;
                
                a{
                    color: #ffffff;
                    font-weight: bold;
                }
            }
            
            &:nth-child(odd){
                float: left;
            }
            
            &:nth-child(even){
                float: right;
            }
            
            figure{
                position: relative;
                img{
                    width: 230px;
                }
                
                div.vote_banner{
                    width: 63px;
                    height: 87px;
                    background-color: #D42500;
                    display: inline;
                    float: right;
                    
                    span{
                        &:first-child{
                            position: relative;
                            color: white;
                            left: 5px;
                        }

                        &:last-child{
                            position: relative;
                            left: 16px;
                            top: 2px;
                            color: white;
                            font-size: 18px;
                        }
                    }
                    
                    a.vote_banner_marker{
                        font-size: 40px;
                        position: relative;
                        left: 15px;
                        color: #FFCA00;
                        line-height: 26px;
                        
                        &:hover{
                            color: yellow;
                            top: 6px !important;
                            text-decoration: none;
                        }
                        &:visited, &:active{
                            text-decoration: none;
                        }
                    }
                }
            }
            
            figcaption{
                margin: 12px;
                
                p.article_content{
                    margin-bottom: 15px;
                    font-size: 16px;
                    line-height: 25px;
                    
                    span{
                        padding: 3px 13px;
                        border: 1px solid rgba(31, 19, 31, 0.1);
                        border-radius: 5px;
                        
                        &:hover{
                            border: 1px solid rgba(31, 19, 31, 0.4);
                            cursor: pointer;
                        }
                        a, a:hover{
                            text-decoration: none;
                        }
                    }
                }
                
                p.meta_data{
                    font-size: 11px;
                    color: gray;
                    
                    .meta_data_user{
                        font-style: italic;
                    }
                }
            }
        }
    }
    
    form{
        fieldset{
            p{
                margin: 15px;
                
                input[type="text"]{
                    width: 245px;
                    height: 40px;
                    border: 0;
                    background-color: #F3F3F3 !important;
                    padding-left: 7px;
                }
                
                input[type="password"]{
                    width: 245px;
                    height: 40px;
                    border: 0;
                    background-color: #F3F3F3 !important;
                    padding-left: 7px;
                }
                
                input[type="submit"]{
                    padding: 10px 20px;
                    background-color: #272727;
                    color: #ffffff;
                    border: 0;
                }
                
                select[name="category_id"]{
                    width: 165px;
                    height: 31px;
                    background-color: #E2E2E2;
                    color: black;
                    font-size: 16px;
                    border: 0;
                }
                select[name="tag_id[]"]{
                    width: 165px;
                    background-color: #E2E2E2;
                    color: black;
                    font-size: 16px;
                    border: 1px solid gray;
                    
                    option{
                        &:nth-child(even){
                            background-color: #CCDFFF;
                        }
                        
                        &:nth-child(odd){
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
    .category_page{
        margin-top: 70px;
    }
}

footer#page_footer{
    position: relative;
    top: 30px;
    border-top: 1px solid red;
    padding: 14px 0 10px 0;
    margin: 10px 0 0 0;

    ul{
        text-align: center;
        li{
            display: inline;
            padding: 5px;
            border-right: 1px solid red;
            
            &:last-child{
                border-right: 0;
            }
        }
    }
}

aside#sidebar{
    position: relative;
    top: 30px;
    border-top: 1px solid red;
    padding-top: 20px;
    
    ul{
        list-style: none;
        margin: 0 0 25px 25px;
        
        &#category{
            text-transform: uppercase;
            li{
                line-height: 25px;
                &:before{
                    content: '';
                    padding: 2px;
                    background-color: red;
                    border-right: 5px solid white;
                }
                color: red;

                &:hover{
                    color: blue;
                }
            }
        }

        &#la_une li{
            figure{
                #image_la_une{
                    padding: 20px;
                    background-color: #EB79EB;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

